<style>
  .fixed-header {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    z-index: 50;
  }

  .fixed-header .p-menubar {
    border: none;
    border-radius: 0;
  }

  /* Estilos para el menú lateral */
  .side-menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background: white;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 60px;
  }

  .side-menu.open {
    left: 0;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }

  .overlay.open {
    display: block;
  }

  /* Ocultar elementos de navegación en móviles */
  @media (max-width: 1023px) {
    .nav-items {
      display: none !important;
    }
    
    .hamburger-menu {
      display: block !important;
    }
  }

  @media (min-width: 1024px) {
    .hamburger-menu {
      display: none !important;
    }
    
    .side-menu {
      display: none !important;
    }
  }
</style>

<div class="fixed-header" appHideHeader>
  <p-card styleClass="m-0 [&_.p-card-body]:!p-2 h-[62px] bg-gray-50/10 backdrop-blur-lg [&_.p-card-content]:h-[62px]">
    <div class="flex w-full items-center">
      <!-- Menú Hamburguesa (solo visible en móviles) -->
      <div class="hamburger-menu flex mr-2" style="display: none;">
        <p-button icon="pi pi-bars" (click)="toggleSideMenu()" 
                  class="!p-1" text raised></p-button>
      </div>

      <!-- Logo -->
      <div class="flex align-middle">
        <img src="../../../../../assets/svg/logo.svg" [routerLink]="['/']" width="32" alt="logo"
          class="cursor-pointer mr-2 lg:mx-2" />
      </div>

      <!-- Navigation Items (oculto en móviles) -->
      <nav class="nav-items flex flex-grow lg:justify-start">
        <ul class="flex justify-evenly md:justify-start space-x-2 items-center w-full lg:w-auto">
          <!-- inicio -->
          <li>
            <a [routerLink]="['/']" routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }" pRipple
              [pTooltip]="'Inicio'" tooltipEvent="focus" tooltipPosition="top" life="500"
              class="flex flex-col md:flex-row items-center justify-center px-1 rounded-md">
              <i class="pi pi-home text-xl md:text-base mb-1 md:mb-0 md:mr-1 sm:block"></i>
              <span class="text-[10px] sm:text-sm md:text-base">Inicio</span>
            </a>
          </li>

          <!-- ofertas -->
          <li class="ml-1">
            <a [routerLink]="['/ofertas']" routerLinkActive="text-primary" pRipple [pTooltip]="'Ofertas'"
              tooltipEvent="focus" tooltipPosition="top" life="500"
              class="flex flex-col md:flex-row items-center justify-center px-1 rounded-md">
              <i class="pi pi-tag text-xl md:text-base mb-1 md:mb-0 md:mr-1 sm:block"></i>
              <span class="text-[10px] sm:text-sm md:text-base">Ofertas</span>
            </a>
          </li>

          <!-- Productos -->
          <li class="ml-1">
            <a [routerLink]="['/productos']" routerLinkActive="text-primary" pRipple [pTooltip]="'Productos'"
              tooltipEvent="focus" tooltipPosition="top" life="500"
              class="flex flex-col md:flex-row items-center justify-center px-1 rounded-md">
              <i class="pi pi-shopping-cart text-xl md:text-base mb-1 md:mb-0 md:mr-1 sm:block"></i>
              <span class="text-[10px] sm:text-sm md:text-base">Productos</span>
            </a>
          </li>

          @if (authenticated()) {
          <!-- productos -->
          <li>
            <a [routerLink]="['/seguimientos']" routerLinkActive="text-primary" pRipple [pTooltip]="'Seguimientos'"
              tooltipEvent="focus" tooltipPosition="top" life="500"
              class="flex flex-col md:flex-row items-center justify-center px-1 rounded-md">
              <i class="pi pi-chart-line text-xl md:text-base mb-1 md:mb-0 md:mr-1"></i>
              <span class="text-[10px] sm:text-sm md:text-base">Seguimientos</span>
            </a>
          </li>

          <!-- alertas -->
          <li>
            <a [routerLink]="['/notificaciones']" routerLinkActive="text-primary" pRipple [pTooltip]="'Alertas'"
              tooltipEvent="focus" tooltipPosition="top" life="500"
              class="flex flex-col md:flex-row items-center justify-center px-1 rounded-md">
              <i class="pi pi-bell text-xl md:text-base mb-1 md:mb-0 md:mr-1 sm:block"></i>
              <span class="text-[10px] sm:text-sm md:text-base">Alertas</span>
            </a>
          </li>
          }
        </ul>

        <!-- Buscador para desktop -->
        <div class="justify-center mx-2 hidden lg:block w-full xl:w-1/2 xl:m-auto">
          <p-inputgroup
            class="hover:shadow-lg transition-all duration-300 rounded-md overflow-hidden bg-white border hover:border-2 border-gray-300 hover:border-primary">
            <input pInputText placeholder="¿Qué estás buscando?" [(ngModel)]="search" (keyup.enter)="searchTerm()"
              class="!border-0 !ring-0 !outline-0 px-3 py-1 text-black bg-transparent text-lg font-medium" />
            <p-inputgroup-addon class="!border-0 !p-0">
              <p-button icon="pi pi-search" variant="text" [disabled]="search.length < 8" (onClick)="searchTerm()"
                class="!bg-transparent !border-0 !text-white hover:!scale-105 transition-transform duration-200 !px-2 !py-1" />
            </p-inputgroup-addon>
          </p-inputgroup>
        </div>
      </nav>

      <!-- Buscador para móviles (siempre visible) -->
      <div class="flex-grow mx-2 lg:hidden ">
        <p-inputgroup
          class="hover:shadow-lg transition-all duration-300 rounded-md overflow-hidden bg-white border hover:border-2 border-gray-300 hover:border-primary">
          <input pInputText placeholder="Buscar..." [(ngModel)]="search" (keyup.enter)="searchTerm()"
            class="!border-0 !ring-0 !outline-0 px-2 py-1 text-black bg-transparent text-sm font-medium w-full" />
          <p-inputgroup-addon class="!border-0 !p-0">
            <p-button icon="pi pi-search" variant="text" [disabled]="search.length < 3" (onClick)="searchTerm()"
              class="!bg-transparent !border-0 !text-white hover:!scale-105 transition-transform duration-200 !px-2 !py-1" />
          </p-inputgroup-addon>
        </p-inputgroup>
      </div>

      <!-- User Actions (siempre visibles) -->
      <div class="flex items-center ">


        @if (authenticated()) {
          <div class="hidden lg:block">
        <div class="flex items-center ml-1">
          <!-- Botón solo con ícono para pantallas pequeñas -->
          <div class="block sm:hidden ">
            <p-button type="button" severity="secondary" icon="pi pi-user" size="large" (onClick)="toggle($event)"
              pTooltip="{{ authService.currentUser()!.fullname }}" tooltipPosition="bottom"></p-button>
          </div>

          <!-- Botón con label para pantallas medianas en adelante -->
          <div class="hidden sm:block">
            <p-button type="button" severity="secondary" [label]="authService.currentUser()!.fullname" icon="pi pi-user"
              (onClick)="toggle($event)"></p-button>
          </div>

          <!-- Popover -->
          <p-popover #op class="pr-3" 
           (onShow)="onPopoverShow()" 
           (onHide)="onPopoverHide()">
            <p class="mb-3" (click)="toggle($event)">
              <a [routerLink]="['/seguimientos']">
                <i class="pi pi-chart-line me-2"></i> Seguimientos</a>
            </p>
            <p class="mb-3" (click)="toggle($event)">
              <a [routerLink]="['/datos']">
                <i class="pi pi-user me-2"></i> Datos</a>
            </p>
            <p class="mb-3" (click)="toggle($event)">
              <a [routerLink]="['/categorias']">
                <i class="pi pi-list me-2"></i> Categorías</a>
            </p>
            @if (authService.isAdmin()) {
              <p class="mb-3" (click)="toggle($event)">
              <a [routerLink]="['/admin']">
                <i class="pi pi-external-link me-2"></i> Administrar</a>
            </p>
            }
            <!-- <p class="mb-3">
                  <a href=""> <i class="pi pi-crown me-2"></i> Suscripciones</a>
                </p> -->
            <p class="text-red-500 cursor-pointer" (click)="logout(); toggle($event)">
              <a> <i class="pi pi-external-link me-2"></i> Salir</a>
            </p>

            <!-- <div class="flex justify-center ml-1">
              <p-button (onClick)="toggleTheme()" [icon]="(isDarkTheme$ | async) ? 'pi pi-sun' : 'pi pi-moon'"
                [text]="true" size="large" severity="contrast" pTooltip="Tema" tooltipPosition="bottom">
              </p-button>
            </div> -->
          </p-popover>
        </div>
        </div>

        }
        @if (!authenticated()) {
        <!-- <div class="block sm:hidden">
          <p-button type="button" severity="primary" icon="pi pi-user" size="large" (onClick)="onLoginClick()"
            pTooltip="Ingresar" tooltipPosition="bottom"></p-button>
        </div> -->

        <div class="hidden sm:block">
          <p-button type="button" severity="primary" icon="pi pi-user" (onClick)="onLoginClick()" [label]="'Ingresar'"
            pTooltip="Ingresar" tooltipPosition="bottom"></p-button>
        </div>
        }

        <p-button (onClick)="toggleTheme()" [icon]="(isDarkTheme$ | async) ? 'pi pi-sun' : 'pi pi-moon'" [text]="true"
          size="large" severity="contrast" pTooltip="Tema" tooltipPosition="bottom">
        </p-button>
      </div>
    </div>

    <!-- Popover para usuario (mantenido igual) -->
    @if (authenticated()) {
    <p-popover #op class="pr-3">
      <!-- ... contenido del popover igual al original ... -->
    </p-popover>
    }
  </p-card>
</div>

<!-- Menú lateral para móviles -->
<div class="side-menu" [class.open]="isSideMenuOpen">
  <div class="p-4">
    <div class="flex justify-between items-center mb-3">
      <h2 class="text-xl font-bold text-black">Menú</h2>
      <p-button icon="pi pi-times" (click)="toggleSideMenu()" text rounded></p-button>
    </div>
    
    <ul class="space-y-4 text-black">

      @if (authenticated()) {
        <!-- <div class="block sm:hidden">
          <p-button type="button" severity="secondary" icon="pi pi-user" size="large" (onClick)="toggle($event)"
            pTooltip="{{ authService.currentUser()!.fullname }}" tooltipPosition="bottom"></p-button>
        </div> -->
      <h2>Bienvenido {{ authService.currentUser()!.fullname }}</h2>
        

        <!-- <div class="hidden sm:block">
          <p-button type="button" severity="secondary" [label]="authService.currentUser()!.fullname" icon="pi pi-user"
            (onClick)="toggle($event)"></p-button>
        </div> -->
      }
      @else () {
        <!-- <div class="block sm:hidden">
          <p-button type="button" severity="primary" icon="pi pi-user" size="large" (onClick)="onLoginClick()"
            pTooltip="Ingresar" tooltipPosition="bottom"></p-button>
        </div> -->

        <div class="block ">
          <p-button type="button" severity="primary" icon="pi pi-user" (onClick)="onLoginClick()" (click)="toggleSideMenu()" [label]="'Ingresar'"
            pTooltip="Ingresar" tooltipPosition="bottom"></p-button>
        </div>
        }

      <li>
        <a [routerLink]="['/']" (click)="toggleSideMenu()" class="flex items-center p-2 rounded hover:bg-gray-100">
          <i class="pi pi-home mr-3"></i>
          <span>Inicio</span>
        </a>
      </li>
      
      <li>
        <a [routerLink]="['/ofertas']" (click)="toggleSideMenu()" class="flex items-center p-2 rounded hover:bg-gray-100">
          <i class="pi pi-tag mr-3"></i>
          <span>Ofertas</span>
        </a>
      </li>
      
      <li>
        <a [routerLink]="['/productos']" (click)="toggleSideMenu()" class="flex items-center p-2 rounded hover:bg-gray-100">
          <i class="pi pi-shopping-cart mr-3"></i>
          <span>Productos</span>
        </a>
      </li>
      
      @if (authenticated()) {
      <li>
        <a [routerLink]="['/seguimientos']" (click)="toggleSideMenu()" class="flex items-center p-2 rounded hover:bg-gray-100">
          <i class="pi pi-chart-line mr-3"></i>
          <span>Seguimientos</span>
        </a>
      </li>
      
      <li>
        <a [routerLink]="['/notificaciones']" (click)="toggleSideMenu()" class="flex items-center p-2 rounded hover:bg-gray-100">
          <i class="pi pi-bell mr-3"></i>
          <span>Alertas</span>
        </a>
      </li>
      
      <li>
        <a [routerLink]="['/datos']" (click)="toggleSideMenu()" class="flex items-center p-2 rounded hover:bg-gray-100">
          <i class="pi pi-user mr-3"></i>
          <span>Mis Datos</span>
        </a>
      </li>
      
      <!-- COMENTADO PORQUE NO ESTA FUNCIONANDO BIEN  -->

      <!-- <li>
        <a [routerLink]="['/categorias']" (click)="toggleSideMenu()" class="flex items-center p-2 rounded hover:bg-gray-100">
          <i class="pi pi-list mr-3"></i>
          <span>Categorías</span>
        </a>
      </li> -->
      
      @if (authService.isAdmin()) {
      <li>
        <a [routerLink]="['/admin']" (click)="toggleSideMenu()" class="flex items-center p-2 rounded hover:bg-gray-100">
          <i class="pi pi-external-link mr-3"></i>
          <span>Administrar</span>
        </a>
      </li>
      }
      }
    </ul>
  </div>
</div>

<!-- Overlay para cerrar el menú al hacer clic fuera -->
<div class="overlay" [class.open]="isSideMenuOpen" (click)="toggleSideMenu()"></div>